In [15]:
import numpy as np

al_casa = ['Quique', 'Manu', 'Zorion', 'Esther', 'Oscar', 'Valeria',
          'Kerstin', 'Beba', 'Borja Páez', 'Alvaro', 'Antonio']

al_clase = ['Eduardo', 'Diego',
            'Jaime', 'Fred', 'Marcos', 'Borja Puig',
            'Ernesto']

len_casa = len(al_casa)
len_clase = len(al_clase)

def sorteo_par(parejas):
    len_parejas = len(parejas)
    couples = []
    
    for i in range(int(len_parejas/2)):
        uno = np.random.choice(parejas, 1)[0]
        parejas.remove(uno)

        dos = np.random.choice(parejas, 1)[0]
        parejas.remove(dos)

        couples.append((uno, dos))
        
    return couples


couples_casa = sorteo_par(al_casa)
couples_clase = sorteo_par(al_clase)

if len(al_clase) %2 != 0:
    pareja_elegida = np.random.randint(0, int(len_clase/2))
    couples_clase[pareja_elegida] = couples_clase[pareja_elegida] + (al_clase[0],)
    
if len(al_casa) %2 != 0:
    pareja_elegida = np.random.randint(0, int(len_casa/2))
    couples_casa[pareja_elegida] = couples_casa[pareja_elegida] + (al_casa[0],)

    
print("Parejas de alumnos de casa: ", couples_casa)
print("Parejas de alumnos de clase: ", couples_clase)

Parejas de alumnos de casa:  [('Antonio', 'Borja Páez'), ('Alvaro', 'Oscar'), ('Zorion', 'Valeria'), ('Quique', 'Beba'), ('Manu', 'Kerstin', 'Esther')]
Parejas de alumnos de clase:  [('Fred', 'Marcos', 'Jaime'), ('Diego', 'Borja Puig'), ('Ernesto', 'Eduardo')]

In [ ]:
al_casa = ['Quique', 'Manu', 'Zorion', 'Esther', 'Oscar', 'Valeria']
al_clase = ['Ernesto', 'Borja Páez', 'Eduardo',
            'Kerstin', 'Tilda', 'Beba',
            'Jaime', 'Fred', 'Marcos',
            'Álvaro', 'Borja Puig', 'Diego', 'Antonio']

In [75]:
al_casa = ['Manu', 'Zorion', 'Esther', 'Oscar', 'Valeria',
          'Ernesto','Borja Páez', 'Eduardo',
            'Kerstin', 'Tilda',
            'Jaime', 'Fred', 'Marcos',
            'Álvaro', 'Borja Puig', 'Diego', 'Antonio', 'Beba']

al_clase = ['Borja Páez', 'Eduardo',
            'Kerstin', 'Tilda',
            'Jaime', 'Fred', 'Marcos',
            'Álvaro', 'Borja Puig', 'Diego', 'Antonio']

import pandas as pd

df_casa = pd.DataFrame(al_casa, columns=['Orden'])
df_clase = pd.DataFrame(al_clase, columns=['Clase'])
df_casa.sample(frac = 1).reset_index(drop=True)
#print(df_clase.sample(frac = 1))

         Orden
0        Oscar
1      Kerstin
2       Zorion
3        Jaime
4         Manu
5      Antonio
6      Eduardo
7      Valeria
8   Borja Puig
9        Diego
10        Beba
11       Tilda
12      Esther
13      Marcos
14      Álvaro
15        Fred
16  Borja Páez
17     Ernesto

COMIDA
Si falta alguno, que me diga y lo apunto
Tilda
Diego
Borja Paez
Beba
Borja Puig
Edu
Ernesto
Marcos
Kerstin
Jaime
Ander
Nacho
Dani
Esther
Fred