# AWS - RDS MySLQ

In [1]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\programdata\anaconda3\lib\site-packages (0.10.1)

### Credenciales

In [3]:
username = "admin"
password = "12345678"
host = "database-1.c4ofnyeynvfh.us-east-1.rds.amazonaws.com"
port = 3306

### Conexion

In [24]:
import pymysql

db = pymysql.connect(host=host,
                    user=username,
                    password=password,
                    cursorclass=pymysql.cursors.DictCursor)

cursor = db.cursor()

In [9]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'country_database'},
 {'Database': 'country_database2'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'}]

### Creacion DB

In [13]:
create_db = 'CREATE DATABASE database_delete'
cursor.execute(create_db)
cursor.fetchall()

()

In [17]:
create_db = 'CREATE DATABASE country_database'
cursor.execute(create_db)

delete_db = 'DROP DATABASE country_database'
cursor.execute(delete_db)

cursor.execute(create_db)

1

In [16]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'database_delete'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'}]

### Create table

In [25]:
# Selecciono DB
cursor.execute('USE country_database')

0

In [12]:
create_table = '''
CREATE TABLE country (
id INT NOT NULL auto_increment,
name TEXT,
continent TEXT,
population INT,
gdp DOUBLE,
primary key (id)
)

'''
cursor.execute(create_table)

0

In [13]:
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_country_database': 'country'}]

In [ ]:
'''
DROP TABLE country
'''

### Insertar datos

In [36]:
insert_data = '''
INSERT INTO country(name, continent, population, gdp)\
values('%s','%s','%s','%s')
''' % ('Spain', 'Europe', 47, 1.4)

cursor.execute(insert_data)

1

### Leer datos

In [58]:
read_data = 'SELECT * FROM country'
cursor.execute(read_data)
cursor.fetchall()

[{'id': 2,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 3,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 4,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 5,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8},
 {'id': 6,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 7,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 8,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 9,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8},
 {'id': 10,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 11,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 12,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 13,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8}]

### Excepcionar

In [38]:
try:
    read_data = 'SELECT * FROM country'
    cursor.execute(read_data)
    cursor.fetchall()
except Exception as mensaje:
    print(mensaje)

### Insertar CSV

In [14]:
import pandas as pd
df = pd.read_csv('country_data.csv', sep=';')
df.head()

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

In [15]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=username,
                              pw=password,
                              host=host,
                              db='country_database'))

In [ ]:
df.to_sql('country',
          con=engine,
          if_exists = 'replace',
          index = False)

In [26]:
# Comprobamos
try:
    read_data = 'SELECT * FROM country'
    cursor.execute(read_data)
    print(cursor.fetchall())
except Exception as mensaje:
    print(mensaje)

[{'name': 'France', 'continent': 'Europe', 'population': 70, 'gdp': 2.7}, {'name': 'Japan', 'continent': 'Asia', 'population': 126, 'gdp': 4.9}, {'name': 'Argentina', 'continent': 'America', 'population': 44, 'gdp': 0.5}, {'name': 'Brasil', 'continent': 'America', 'population': 209, 'gdp': 1.8}, {'name': 'France', 'continent': 'Europe', 'population': 70, 'gdp': 2.7}, {'name': 'Japan', 'continent': 'Asia', 'population': 126, 'gdp': 4.9}, {'name': 'Argentina', 'continent': 'America', 'population': 44, 'gdp': 0.5}, {'name': 'Brasil', 'continent': 'America', 'population': 209, 'gdp': 1.8}, {'name': 'France', 'continent': 'Europe', 'population': 70, 'gdp': 2.7}, {'name': 'Japan', 'continent': 'Asia', 'population': 126, 'gdp': 4.9}, {'name': 'Argentina', 'continent': 'America', 'population': 44, 'gdp': 0.5}, {'name': 'Brasil', 'continent': 'America', 'population': 209, 'gdp': 1.8}, {'name': 'France', 'continent': 'Europe', 'population': 70, 'gdp': 2.7}, {'name': 'Japan', 'continent': 'Asia', 'population': 126, 'gdp': 4.9}, {'name': 'Argentina', 'continent': 'America', 'population': 44, 'gdp': 0.5}, {'name': 'Brasil', 'continent': 'America', 'population': 209, 'gdp': 1.8}]

### Si tenemos duplicados

In [8]:
read_data = 'SELECT DISTINCT name, continent, population, gdp FROM country'
cursor.execute(read_data)

df2 = pd.DataFrame(cursor.fetchall())
df2.head()

cursor.execute('DROP TABLE country')
cursor.execute(create_table)
df.to_sql('country',
          con=engine,
          if_exists = 'replace',
          index = False)

ProgrammingError: (1146, "Table 'country_database.country' doesn't exist")

In [25]:
db.commit()

In [23]:
db.close()